.reviewStats {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.averageRating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.averageRatingText {
  font-size: 24px;
  margin-left: 8px;
}

.ratingNum {
  font-size: 16px;
  color: #666;
  margin-left: 4px;
}

.ratingCounts {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}